:root {

}
@media (-moz-platform: linux) {
}
@media (-moz-platform: macos), (-moz-platform: windows) {
}

#urlbar-background {
    /* opacity: 0 !important; */
    /* display: none;
    background-color: rgba(0,0,0,0) !important;
    height: 20px;
    width: 260px !important; */
}
#searchbar {
    /* background-color: red !important; */
}
#urlbar-container * {
    /* background-color: rgba(0,0,0,0) !important; */
}
#urlbar-container {
    /* background-color: rgba(0,0,0,0) !important; */
}
#urlbar {
    /* background-color: none !important; */
}
#urlbar[focused] {
    /* background-color: black !important; */
}
#urlbar-input-container {
    /* background-color: yellowgreen !important; */
}

#remote-control-box {
    /* background-color: green !important; */
}
#urlbar-search-button {
    /* background-color: rgb(21, 150, 150) !important; */
}
#tracking-protection-icon-container {
    /* background-color: blue !important; */
}
#identity-box {
    /* background-color: purple !important; */
}
#urlbar-label-box {
    /* background-color: black !important; */
}
#urlbar-search-mode-indicator
{
    /* background-color: tomato !important; */
}

.urlbar-input-box {
    /* background-color: none !important; */
}
#page-action-buttons {
    /* background-color: rgb(21, 150, 150) !important; */
}


.tabbrowser-tab > .tab-stack > .tab-background > .tab-context-line {
    /* background-color: red !important; */
}
#navigator-toolbox > #TabsToolbar {
    /* background-color: red !important; */
}

#TabsToolbar > #TabsToolbar-customization-target > #tabbrowser-tabs {
}

#tabbrowser-tabs {
    /* background-color: green !important; */
}

#titlebar {
    /* background-color: yellow !important; */
}

#nav-bar {
}

#nav-bar > #nav-bar-customization-target {
    /* background-color: red !important; */
}
#nav-bar-customization-target > #urlbar-container {
    /* background-color: orange !important; */
}
#urlbar-container > #urlbar {
    /* background-color: yellow !important; */
}
#urlbar > #urlbar-background {
    /* background-color: green !important; */
}
#urlbar > #urlbar-input-container {
    /* background-color: blue !important; */
}
#urlbar-input-container > #urlbar-input-box {
    /* background-color: purple !important; */
}

#back-button, #forward-button, #stop-reload-button
,#PanelUI-menu-button
,#nav-bar-overflow-button
,#unified-extensions-button
,#new-tab-button
{
}


.titlebar-min {

}


#nav-bar > #nav-bar-overflow-button {
}
#nav-bar > #PanelUI-button {
}
