
:root {
    --firefoxcss-main-bg-color: hsl(240, 2%, 13%);
    --top-whole-bg: hsl(240, 2%, 20%);
    --tab-item-bg: hsl(240, 2%, 26%);
    --tab-item-hover-bg: hsl(240, 2%, 32%);
    --tab-item-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.4);
    --tab-item-selected-bg: var(--firefoxcss-main-bg-color);
}

:root {
    --top-height: 30px;
    --tab-min-width: 110px;
    --tab-max-width: 150px;
    --tab-height: 20px;
    --tab-margin: 5px 0 0 0;
    --font-family: "source code pro";
}

#navigator-toolbox {
    /* font-family: "SimHei", sans-serif; */
    font-family: 'source code pro';
}
#navigator-toolbox .chinese {
    /* Microsoft YaHei */
    /* font-family: "SimHei", sans-serif; */
    /* font-family: 'Noto Sans SC', sans-serif; */
}

/** 
  * 顶部栏顺序
  * 0 - top
  * 1 - second from top
  * 2 - bottom 
  */
/* SEARCH BAR TOOLBAR */
#navigator-toolbox #nav-bar { order: 1 !important; }
/* TABS TOOLBAR */  
#titlebar { order: 0 !important; }
/* BOOKMARKS TOOLBAR*/
#PersonalToolbar { order: 2 !important; }
/* Extra titlebar menu (above or below tabs, opens with alt) */
#titlebar #toolbar-menubar { order: 0 !important;}


/* 整个顶部栏div, 包含tab url bookmark */
#navigator-toolbox {
    background-color: var(--top-whole-bg) !important;
    /* backdrop-filter: blur(2px); */
}

/* 将标签栏放在地址栏右侧 */
#navigator-toolbox #nav-bar {
    border-right: 1px solid #ccc; /* 可选：添加分隔线 */
    padding-right: 5px; /* 可选：右侧间距 */
    height: var(--top-height); 
    width: 50%;
    margin-left: 50%;
}
#nav-bar::after {
    content: ' ';
    width: 2px;
    background: linear-gradient(to bottom, #80808000 0%, #808080 20%, #808080 80%, #80808000 100%); 
    position: absolute;
    left: 0px;
    top: 10%;
    bottom: 10%;
}

/* tab 栏位置 */
#titlebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
}

/* ====================== tab 栏 ============================ */
/* 标签栏的样式 */
#TabsToolbar {
    /* visibility: visible; */
    /* white-space: nowrap; */
    /* display: flex; */
    /* background-image: linear-gradient(to left, #a1ffb6, #f9ff99) !important; */
}

/* ------------------------------------ tab width ------------------------------------ */
/* Width of the tabs. Important to have Fadein or it breaks fonctionality */
/* not([style^="max-width"] :not([overflow])*/
#tabbrowser-tabs .tabbrowser-tab[fadein]:not([pinned]) {
    max-width: var(--tab-max-width) !important;
    min-width: var(--tab-min-width) !important;
}
/* Selected tabs width increase */
#tabbrowser-tabs:not([overflow]) .tabbrowser-tab[selected][fadein]:not([pinned]) {
    max-width: 175px !important;
}
/* Selected tabs width when overflowing */
#tabbrowser-tabs[overflow] .tabbrowser-tab[selected][fadein]:not([pinned]) {
    min-width: 150px !important;
}
/* ------------------------------------ ------------------------------------ */

/* 标签栏 单个标签div容器 */
.tabbrowser-tab {
    /* margin-inline-end: var(--gap-between-tabs) !important; */
    height: var(--top-height) !important;
}


/* 标签栏 标签按钮 [按钮外层div] (选中) 背景色 */
.tabbrowser-tab[selected] {
}

/* can not set height */
.tab-background {
    /* height: var(--tab-height) !important; */
}

.tab-background[selected], .tab-background {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    background-image: none !important;
}

/* 标签按钮 内容 */
.tab-content {
    height: var(--tab-height);
    margin: var(--tab-margin);
    border: 0px solid white !important;
    border-radius: 5px !important;
    background-image: none !important;
    background-color: var(--tab-item-bg) !important;
    transition: background-color 250ms ease !important;
    box-shadow: var(--tab-item-shadow) !important;
}

.tab-content:hover{
    background-color: var(--tab-item-hover-bg) !important;
}

.tab-content[selected] {
    background-color: var(--tab-item-selected-bg) !important;
    box-shadow: none !important;
    outline: none !important;  
}

/* ========================== url栏 =================================== */
#nav-bar  {
    background-color: transparent !important;
}
#urlbar-background {
    display: none !important;
}


/* ----- test --- */

:root {
    --firefoxcss-url-bar-bg-color: var(--firefoxcss-main-bg-color);
    --firefoxcss-url-border-bottom-color: 1px solid hsla(0, 0%, 100%, 0.2);
    --firefoxcss-url-border-top-color: 1px solid hsla(0, 0%, 0%, 0.15);
    --firefoxcss-url-breakout-bar-bg-color: var(--firefoxcss-main-bg-color);
    --firefoxcss-url-breakout-border-bottom-color: hsla(0, 0%, 70%, 0.05);
    --firefoxcss-url-box-shadow-color: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.35);
    --firefoxcss-url-autocomplete-highlight: hsl(240, 2%, 26%);
    --firefoxcss-url-breakout-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

      --firefoxcss-border-radius: 15px;


    --url-height: 25px;
}

#urlbar-container {
    /* height: var(--url-height) !important; */
    /* overflow: hidden !important; */
    /* margin-top: 5px; */
    transform-origin: top; /* 设置变换的原点为顶部 */
    /* transform: scaleY(0.75); */
    transform: scale(0.75);
}

#urlbar {
    --autocomplete-popup-highlight-background: var(
      --firefoxcss-url-autocomplete-highlight
    ) !important;
    background-color: var(--firefoxcss-url-bar-bg-color) !important;
    border-bottom: var(--firefoxcss-url-border-bottom-color) !important;
    border-top: var(--firefoxcss-url-border-top-color) !important;
    box-shadow: var(--firefoxcss-url-box-shadow-color) !important;
  }

  #urlbar[breakout][breakout-extend][open] {
    background-color: var(--firefoxcss-url-breakout-bar-bg-color) !important;
    border-bottom: 1px solid var(--firefoxcss-url-breakout-border-bottom-color) !important;
    border-top: var(--firefoxcss-url-border-top-color) !important;
    box-shadow: var(--firefoxcss-url-breakout-box-shadow) !important;
  }