:root {
    --top-bar-bg-color: hsl(240, 2%, 20%);
}

#nav-bar,
#titlebar
{
    background: none !important;
}

@media (-moz-platform: windows) {
    #tabbrowser-tabs {
        background-color: var(--top-bar-bg-color) !important;
    }
}
#navigator-toolbox {
    background-color: var(--top-bar-bg-color) !important;
}

/* ==================== tab bar ==================== */
.tabbrowser-tab > .tab-stack {
    transition: background-color 250ms ease !important;
}
.tabbrowser-tab:not([selected]) > .tab-stack {
    background-color:  hsl(240, 2%, 26%) !important;
    box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.4) !important;
}
.tabbrowser-tab:not([selected]):hover > .tab-stack {
  background-color: hsl(240, 2%, 32%) !important;
}

.tabbrowser-tab[selected] > .tab-stack {
    /* background-color:  hsl(240, 2%, 16%) !important; */
    /* box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.4) !important; */
}

/* ==================== url bar ==================== */
/* urlbar-container不包含下拉 */
.tabbrowser-tab[selected] > .tab-stack,
#urlbar {
    background-color: hsl(240, 2%, 13%) !important;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2) !important;
    border-top: 1px solid hsla(0, 0%, 0%, 0.15) !important;
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.35) !important;
}