@media screen and (min-width: 1300px) {
    :root {
        --url-bar-ratio: 36%;
    }
}

@media screen and (max-width: 1300px) {
    :root {
        --url-bar-ratio: 50%;
    }
}

/* Menu button */
#PanelUI-button {
    -moz-box-ordinal-group: 0 !important;
    order: -2 !important;
}
#PanelUI-menu-button {
    padding: 0 !important;
}

/* #page-action-buttons, */
.tab-background,
/* url条左侧盾牌按钮 */
#tracking-protection-icon-container,
#urlbar-background,
/* #back-button, */
/* #forward-button, */
/* #reload-button, */
/* #stop-reload-button, */
/* toolbarspring, */
/* All tabs (v-like) button, "v" button */
#alltabs-button
{
    display: none !important;
}

/* Only the tabs space will grow from here */
@media screen and (min-width: 888px) {
    @media (-moz-platform: linux) {
        #titlebar {
            position: absolute !important;
            right: 0px !important;
            width: calc(100% - var(--url-bar-ratio)) !important;
        }
        #nav-bar {
            width: calc(var(--url-bar-ratio) - 20px) !important;
        }
    }
    @media (-moz-platform: windows) {
        #titlebar {
            position: absolute !important;
            right: 0px !important;
            width: calc(100% - var(--url-bar-ratio)) !important;
        }
        #nav-bar {
            width: calc(var(--url-bar-ratio) + 5px) !important;
        }
        #tabbrowser-tabs {
            position: absolute !important;
            left: 0px !important;
            right: 0px !important;
            top: 0px !important;
            bottom: 0px !important;
            z-index: 2;
        }
    }
    @media (-moz-platform: macos) {
        #TabsToolbar {
            position: absolute !important;
            right: 0px !important;
            width: calc(100% - var(--url-bar-ratio)) !important;
        }
        #nav-bar {
            width: calc(var(--url-bar-ratio) + 15px) !important;
        }
        #tabbrowser-tabs {
            position: absolute !important;
            left: 70px !important;
            right: 0px !important;
            top: 0px !important;
            bottom: 0px !important;
        }
    }
}

/* Both the tabs space and the navbar will grow */
@media screen and (min-width: 950px) and (max-width: 1324px) {
    /* 
    #TabsToolbar,
    #nav-bar {
        transition: margin-top 0.25s !important;
    } */
}

/* The window is not enough wide for a one line layout */
@media screen and (max-width: 888px) {
    /* :root #nav-bar {
        padding: 0 5px 0 5px !important;
        height: calc(var(--NavbarHeightSmall) * 1px) !important;
    }
    #TabsToolbar,
    #nav-bar {
        transition: margin-top 0.25s !important;
    } */
}

@media (-moz-platform: linux) {
}

#urlbar .urlbar-input-box {
    text-align: center;
}

/*=====================================================================
============== U R L   A U T O   H I D E   B U T T O N S ==============
=====================================================================*/

/* #page-action-buttons::before, */
#identity-box::after
{
    position: relative;
    content: "•••";
    pointer-events: none;
    transition: opacity 100ms ease;
    align-self: center;
    font-size: 0.7em;
}

/* #page-action-buttons::before, */
#identity-box::after
{
    opacity: 0.2;
    transform: rotate(90deg);
}
#identity-box::after {
    left: 4px;
}
  
/* #page-action-buttons::before {
    right: 4px;
} */

/* #urlbar-input-container[pageproxystate="invalid"] > #page-action-buttons::before, */
#identity-box[pageproxystate="invalid"]::after  
{
  opacity: 0 !important;
  transition: opacity 50ms ease;
}

#urlbar #identity-icon-box,
#urlbar #identity-permission-box {
  opacity: 0 !important;
  margin-inline-start: calc(-16px - 2 * var(--urlbar-icon-padding));
  transition: margin-inline-start 100ms linear, opacity 200ms linear;
}

#urlbar #identity-icon-box,
#urlbar #identity-permission-box {
  opacity: 0 !important;
  margin-inline-start: calc(-16px - 2 * var(--urlbar-icon-padding));
  transition: margin-inline-start 100ms linear, opacity 200ms linear;
}

#identity-box:hover #identity-icon-box,
#identity-box:hover #identity-permission-box,
#identity-box #identity-permission-box[open="true"],
#identity-box #identity-icon-box[open="true"]{
  opacity: 1 !important;
  margin-inline-start: initial !important;
}