:root {
    --top-height: 30px;
    --top-font-size: 12px;
    --url-input-height: calc(var(--top-height) * 0.8);
    --tab-height: calc(var(--url-input-height) + 7px);

    --tab-margin-top: calc((var(--top-height) - var(--tab-height)) / 2);
    --tab-border-radius: calc(var(--tab-height) * 0.5) !important;
    --tab-min-width: 110px;
    --tab-max-width: 150px;
    --url-border-radius: calc(var(--url-input-height) * 0.5);;
}

#nav-bar {
    height: var(--top-height) !important;
}
#titlebar {
    height: var(--top-height) !important;
}
#nav-bar {
    /* vertical-align: center !important; */
}

/* ==================== tab bar ==================== */
#tabbrowser-tabs {
    height: var(--top-height) !important;
}
#tabbrowser-arrowscrollbox {
    height: 100% !important;
    padding: 0 !important;
}
.tabbrowser-tab {
    height: var(--tab-height) !important;
    margin-top: var(--tab-margin-top) !important;    
    padding: 3px !important;
}
.tabbrowser-tab[fadein]:not([pinned]) {
    max-width: var(--tab-max-width) !important;
    /* min-width: var(--tab-min-width) !important; */
}
.tab-stack {
    border-radius: var(--tab-border-radius) !important;
    font-size: var(--top-font-size) !important;
}

/* ==================== url bar ==================== */
#urlbar .urlbar-input-box {
    font-size: 14px !important;
}

#urlbar-container {
    width: calc(100% - 200px) !important;
    height: var(--url-input-height) !important;
    margin-top: calc((var(--top-height) - var(--url-input-height)) / 2) !important;
}

/* Search Bar height ??? */
#urlbar {
    /* --urlbar-min-height: var(--url-input-height) !important; */
    /* --urlbar-height: var(--url-input-height) !important; */
    min-height: var(--url-input-height) !important;
    height: var(--url-input-height) !important;
}

#urlbar[open] {
    height: auto !important;
}

#urlbar-input-container,
#searchbar,
#urlbar-container,
#urlbar {
  border-radius: var(--url-border-radius) !important;
}